@charset "utf-8";
body {background:#efefef;color:#000;}
.fs9{font-size:9px;}
.icon-sj,.icon-white-doc,.icon-star,.icon-white-info,.icon-thumbs-up,.icon-thumbs-down,.icon-share-alt,.icon-time{background-image:url(../images/icon-png.png); background-repeat:no-repeat;}
.main{padding:0 0 0 8px;}
.section{background-color:#FFF; border-bottom:solid #dcdcdc 2px;margin-bottom:16px;}
.page-header{background-color:#f5f5f5;height:44px;padding-left:70px;position:relative;padding-bottom:0;border-bottom:none;}
.page-header h5{line-height:44px;margin:0;}
.page-header .tit-icon_bg{background-color:#71accc;border-bottom:solid #5d8ea8 2px;position:absolute;top:0;left:-8px;height:24px;padding:9px 16px;}
.page-header .tit-icon_bg .icon-sj{background-position:right -175px;position:absolute;left:0;bottom:-11px;width:8px;height:9px;}
.icon-white-doc,.icon-white-info{width:24px;height:24px;}
.icon-white-doc {background-position:0 -168px;}
.icon-white-info{background-position:0 -192px;}
.video-info{width:421px;padding-left:24px;line-height:32px;}
.info-rating{margin-right:22px;}
.info-rating dt{font-weight:normal;text-align:right;margin-bottom:6px;}
.info-rating dt .rating-all{margin:0 5px;}
.icon-star,.icon-thumbs-up,.icon-thumbs-down,.icon-share-alt,.icon-time{width:20px;height:20px;}
.icon-thumbs-up{background-position:right -40px;}
.icon-thumbs-down{background-position:right -60px;}
.icon-share-alt{background-position:right -20px;}
.icon-time{background-position:right -81px;margin:0 6px 0 0;}
.icon-star{background-position:right -100px;*margin-right:0;}
.rating-all .icon-star{margin-top:0;}
.rating{text-align:right;}
.rating .icon-star{width:15px;height:15px;background-position:right -159px;}
.info-rating dd{margin-left:0;height:20px;}
.info-rating dd .span1{width:73px;}
.info-rating dd .span2{width:76px;}
.progress-gray{background-color:#ebebeb;margin:8px 10px 0;}
.progress-gray .bar{background-color:#c2c2c2;height:7px;}
.edit-box{padding:22px;}
.edit-box textarea{background-color:#f8f8f8;height:78px;}
.comm-rating{text-align:right;}
.comm-rating > label{margin-left:0;}
.box-rating{padding:6px 0 22px;}
.box-rating .point{margin-right:38px;width:20px;display:inline-block;}
.rating-do{margin:0 2px 0 10px;}
.rating-do .icon-star{background-position:right -140px;vertical-align:-4px;*vertical-align:0;cursor:pointer;}
.icon-star.active{background-position:right -120px;}
.page-header .pages{position:absolute;right:20px;top:0;}
.pages{padding-top:7px;color:#aaaaaa;}
.pages .span2{line-height:30px;}
.pages .btn-group .btn{border-radius:15px;width:30px;height:30px;padding:0;border-bottom:none;margin-right:8px;}
.pages .btn-group .btn:hover{background-position:0 -30px;}
.comment-list{margin:0 20px;}
.comment-list .media{border-bottom:dashed #e2e2e2 1px;margin-bottom:28px;padding-bottom:10px;}
.comment-list .media > .pull-left{width:45px;height:45px;margin-right:14px;}
.comment-list .media-heading{position:relative;color:#666;font-size:12px;}
.comment-list .media-footing {color:#bbb;font-size:12px;}
.comment-list .media-footing .btns-comt > a{color:#999;margin-left:12px;display:inline-block;}
.btns-comt > a i{margin-right:2px;}
.comment-list .rating-view{position:absolute;right:0;top:0;font-size:13px;}
.comment-list .rating-view 
.comt-content{line-height:30px;margin-bottom:30px;}
.comt-content .replyOf{margin:0 0 0 8px;}
.comment-list-bottom{margin:0 20px 20px;}

