@charset "utf-8";
body {background:#efefef;color:#000;}
.fs9{font-size:9px;}
.icon-thumbs-up,.icon-thumbs-down,.icon-share-alt,.icon-time,.icon-dialog{width:20px;height:20px;}
.icon-thumbs-up{background-position:right -40px;}
.active .icon-thumbs-up,a:hover .icon-thumbs-up{background-position:right -382px;}
.icon-thumbs-down{background-position:right -60px;}
.active .icon-thumbs-down,a:hover .icon-thumbs-down{background-position:right -402px;}
.icon-share-alt{background-position:right -20px;}
.icon-time{background-position:right -81px;margin:0 6px 0 0;}
.icon-dialog{background-position: right -422px;}
.active .icon-dialog,a:hover .icon-dialog{background-position: right -442px;}
.active .icon-heart-blue,.btn:hover .icon-heart-blue{background-position: right -753px;}
.active .icon-download-blue,.btn:hover .icon-download-blue{background-position: right -777px;}
.icon-heart-blue,.disabled:hover .icon-heart-blue{background-position: 0 -753px;}
.icon-download-blue,.disabled:hover .icon-download-blue{background-position: 0 -777px;}

.section{background-color:#FFF; border-bottom:solid #dcdcdc 2px;margin-bottom:16px;}
.section .hd{height:44px;position:relative;border-bottom:none;}
.section .hd h5{background-color:#f5f5f5;line-height:43px;margin:0;padding-left:70px;border-bottom:solid #e8e8e8 1px;}
.section .hd .tit-icon_bg{background-color:#cbcbcb;position:absolute;top:0;left:0;height:24px;padding:10px 16px;}
.section .hd .pos-right{ right: 20px;top:12px;}
.mediaWrap{padding: 20px 25px 35px;}
.mediaObject{}
.mediaToolbarWrap{padding: 0 15px;}
.mediaToolbar{padding: 10px 0;position: relative;}
.mediaToolbar .btn-group {}
.mediaToolbar .btn-group .btn{line-height: 24px;padding: 5px 10px;margin: 0;}
.mediaToolbar .btn-group .btn i{margin-right: 5px;}
.mediaToolbar .btn-success{position: absolute;right: 0;top: 10px;padding: 7px 12px;}
.mediaToolbar .playCount{border-left: solid #dcdcdc 1px;padding: 3px 15px;}
.mediaToolbar .playCount .num{font-size: 18px;font-weight: normal}
.mediaToolbar .btn-success .icon-right{background-color: #307c48;border-radius: 10px;margin-right: 5px;}
.mediaList{margin-top: 5px;margin-left: -18px;}
.mediaList>li>a{width: 60px;background-color: #cccccc;padding: 7px 0;position:relative;margin:0 0 0 18px;color:#ffffff;text-align:center;border: solid #adadad 1px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;}
.mediaList>li>a>i{position: absolute;right: -6px;top: -6px;display: none;}
.mediaList>li>a:hover{background-color: #adadad;}
.mediaList>.pass>a,.mediaList>.pass>a:hover{background-color: #a1c8dd;border-color: #83b2ce;}
.mediaList>.active>a,.mediaList>.active>a:hover{background-color: #4491bb;border-color: #4491bb;}
.mediaList>.pass>a>i{display: block;}
/*.mediaList>.active>a>i{display: none;}*/
.video-info{width:421px;padding-left:24px;line-height:25px;}
.info-rating{margin-right:22px;margin-top: 0;}

.rating{text-align:right;}
.rating .icon-star{width:15px;height:15px;background-position:right -160px;}
.info-rating dd{margin-left:0;height:20px;}
.info-rating dd .span1{width:73px;}
.info-rating dd .span2{width:76px;}
.progress-gray{background-color:#ebebeb;margin:8px 10px 0;}
.progress-gray .bar{background-color:#c2c2c2;height:7px;}
.edit-box{padding:22px;}
.edit-box textarea{background-color:#f8f8f8;height:78px;}
.comm-rating{text-align:right;}
.comm-rating > label{margin-left:0;}
.box-rating{padding:6px 0 22px;}
.box-rating .point{margin-right:38px;width:20px;display:inline-block;}
.rating-do{margin:0 2px 0 10px;}
.rating-do .icon-star{background-position:right -140px;vertical-align:-4px;*vertical-align:0;cursor:pointer;}
.section .hd .pages{position:absolute;right:20px;top:0;}
.pages{padding-top:7px;color:#aaaaaa;}
.pages .span2{line-height:30px;}
.pages .btn-group .btn{border-radius:15px;width:30px;height:30px;padding:0;border-bottom:none;margin-right:8px; -webkit-box-shadow: inset 0 2px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 3px 2px rgba(0,0,0,0.3);
    box-shadow: inset 0 2px 2px rgba(0,0,0,0.3);}
.pages .btn-group .btn:hover{background-position:0 -30px;}
.comment-list{margin:20px 20px 0;}
.comment-list .media{border-bottom:dashed #e2e2e2 1px;margin-bottom:28px;padding-bottom:10px;}
.comment-list .media > .pull-left{width:45px;height:45px;margin-right:14px;}
.comment-list .media-heading{position:relative;color:#666;font-size:12px;}
.comment-list .media-footing {color:#bbb;font-size:12px;}
.comment-list .media-footing .btns-comt > a{color:#999;margin-left:12px;display:inline-block;}
.btns-comt > a i{margin-right:2px;}
.comment-list .rating-view{position:absolute;right:0;top:0;font-size:13px;}
.comment-list .rating-view 
.comt-content{line-height:30px;margin-bottom:30px;}
.comt-content .replyOf{margin:0 0 0 8px;}
.comment-list-bottom{margin:0 20px 20px;}
.form-reply{margin: 12px 0;}
.form-reply textarea{border-color: #71accc}
.form-reply .form-action{text-align: right;}

