<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"
       default-lazy-init="true">

    <bean id="materialService" class="cn.me.xdf.service.material.MaterialService">
        <property name="sourceMap">
            <map>
                <entry key="materialAttmainService">
                    <ref bean="materialAttmainService"></ref>
                </entry>
                <entry key="materialQuestionsService">
                    <ref bean="materialQuestionsService"></ref>
                </entry>
                <entry key="materialTaskService">
                    <ref bean="materialTaskService"></ref>
                </entry>
            </map>
        </property>
    </bean>

    <bean id="bamMaterialService" class="cn.me.xdf.service.bam.BamMaterialService">
        <property name="sourceMap">
            <map>
                <entry key="materialAttmainService">
                    <ref bean="materialAttmainService"></ref>
                </entry>
                <entry key="materialQuestionsService">
                    <ref bean="materialQuestionsService"></ref>
                </entry>
                <entry key="materialTaskService">
                    <ref bean="materialTaskService"></ref>
                </entry>
            </map>
        </property>
    </bean>

    <!-- 以annotation方式配置Aop -->

    <!--
    <bean id="accessArgAspect" class="cn.me.xdf.service.bam.aspect.SourceAspect"/>
    <aop:config proxy-target-class="false">
        <aop:aspect order="2" id="aspect" ref="accessArgAspect">
            <aop:after method="saveBamScore"
                       pointcut="execution(* cn.me.xdf.service.bam.process.SourceNodeService.saveSourceNode(..))"/>
        </aop:aspect>
    </aop:config>
    -->
    <!--<aop:aspectj-autoproxy proxy-target-class="true"/>-->

    <bean id="accessArgAspect" class="cn.me.xdf.service.bam.aspect.SourceAspect"/>

</beans>
