<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


    <bean name="quartzScheduler"
          class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="startupDelay" value="1200" />
        <property name="triggers">
            <list>
           	    <ref local="letterClearTrigger" />
                <ref local="attMainInterfaceTrigger" />
                <ref local="attMainClearTodoTrigger"/>
                <ref local="organInTrigger"/>
            </list>
        </property>
    </bean>


    <bean id="organInTodoDetail"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <bean class="cn.me.xdf.quartz.OrganInLdapQuartz"></bean>
        </property>
        <property name="targetMethod">
            <value>executeTodo</value>
        </property>
    </bean>

    <bean id="organInTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail">
            <ref bean="organInTodoDetail" />
        </property>
        <property name="cronExpression">
            <value>0 15 3 * * ?</value>
        </property>
    </bean>

    <bean id="attMainInterfaceTodoDetail"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <bean class="cn.me.xdf.quartz.AttMainInterfaceQuartz"></bean>
        </property>
        <property name="targetMethod">
            <value>executeTodo</value>
        </property>
    </bean>

    <bean id="attMainInterfaceTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail">
            <ref bean="attMainInterfaceTodoDetail" />
        </property>
        <property name="cronExpression">
            <value>0 0/4 1-23 * * ?</value>
        </property>
    </bean>
    
    <bean id="letterClearDetail"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <bean class="cn.me.xdf.quartz.LetterClearQuartz"></bean>
        </property>
        <property name="targetMethod">
            <value>executeTodo</value>
        </property>
    </bean>

    <bean id="letterClearTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail">
            <ref bean="letterClearDetail" />
        </property>
        <property name="cronExpression">
            <value>0 15 6 * * ?</value>
        </property>
    </bean>


    <bean id="attMainClearTodoDetail"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <bean class="cn.me.xdf.quartz.AttMainClearQuartz"></bean>
        </property>
        <property name="targetMethod">
            <value>executeTodo</value>
        </property>
    </bean>
<!-- 0 0/5 * * * ? -->
    <bean id="attMainClearTodoTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail">
            <ref bean="attMainClearTodoDetail" />
        </property>
        <property name="cronExpression">
            <value>0 15 1 * * ?</value>
        </property>
    </bean>

</beans>